h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.link {
    text-decoration: none;
}

.button-active,
.button-list {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
}

.page-header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
    display: flex;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.site-nav {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    margin-left: auto;
}

.auth-nav {
    display: flex;
    gap: 40px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #4D5AE5;
}

.active-link {
    display: block;
    padding: 24px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-active {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-active {
    padding: 12px 24px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background-color: #4D5AE5;
}

.button-active:hover,
.button-active:focus {
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.service-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-button:hover,
.service-button:focus {
    background-color: #404BBF;
}

.card-list-content {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-content:hover,
.card-list-content:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-list-content:hover .card-paragraf,
.card-list-content:focus .card-paragraf {
    transform: translateY(0%);
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card-set>.items {
    flex-basis: calc((100% - 48px)/3);
}

.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #E7E9FC;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.card-list>.items {
    flex-basis: calc((100% - 48px)/3);
}

.card-position {
    position: relative;
    overflow: hidden;
}

.card-paragraf {
    position: absolute;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero {
    margin: auto;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/img-name.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
}

.main-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 0.7;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.title-hero {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 0.7;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.advantages-company-list {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    background-color: #F4F4FD;
}

.our-advantages {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: white;
}

.advantages-our-company {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text {
    min-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.advantages-company {
    display: flex;
    gap: 24px;
}

.advantages-company>.advantages {
    flex-basis: calc((100% - 24px)/4);
}

.section-specialization {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.our-team {
    margin-top: 120px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.photo-team {
    display: flex;
    gap: 24px;
}

.photo-team>.images {
    flex-basis: calc((100% - 72px)/4);
}

.images {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.photo-content {
    padding: 32px 0;
}

.name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.paragraph {
    margin-bottom: 8px;
    text-align: center;
}

.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-networks-list {
    width: 40px;
    height: 40px;

}

.social-networks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover,
.social-networks-link:focus {
    background-color: #404bbf;
}

.social-networks-icons {
    fill: #F4F4FD;
}

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.section-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}

.section-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}

.section-paragraph:hover,
.section-paragraph:focus {
    transform: translateY(0%);
}

.curtomers {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #2e2f42;
}

.company-logos {
    display: flex;
    gap: 24px;
}

.company-logos-list {
    flex-basis: calc((100% - 120px)/6);
    height: 88px;
}

.company-logos-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-logos-link:hover,
.company-logos-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.company-logos-icons {
    fill: currentColor;
}

.footer {
    margin: auto;
    padding: 100px 0;
    width: 100%;
    background-color: #2E2F42;
}

.logo-web {
    width: 115px;
    margin-right: 76px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.logo-footer-web {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-paragraph {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.div-container {
    margin-right: 120px;
}


.paragraph-icons {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-list-icons {
    width: 40px;
    height: 40px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #F4F4FD;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(1,2);
}

.modal {
    position: absolute;
    padding: 0 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 576px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal {
    padding-top: 76px;
    padding-bottom: 24px;
}

.btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.icons-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-container {
    margin-left: 80px;
}

.form-footer-subscribe {
    display: flex;
}

.paragraph-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.form-footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.form-footer-input {
    outline: none;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2E2F42;
}

.form-button {
    border: none;
    flex-direction: row;
    margin-left: 24px;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px 24px;
    gap: 16px;
    background: #4D5AE5;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-paragraf {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.form-input-icons {
    position: relative;
    display: block;
}

.form-label {
    margin-bottom: 8px;
}

.form-span {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #8E8F99;
}

.form-input {
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-input:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}

.form-icons {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.form-input:focus+.form-icons {
    fill: #4D5AE5;
}

.form-message {
    resize: none;
    width: 100%;
    height: 138px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-message::placeholder {
    text-transform: uppercase;
}

.form-message:focus {
    outline: none;
    border-color: #4D5AE5;
}

.form-check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.form-check-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #757575;
    margin-bottom: 24px;

}

.span-icon {
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.form-check:checked+.span-icon {
    background-image: url(../images/checkbox.svg);
    background-size: contain;
    background-origin: border-box;
    background-color: #404BBF;
    border-color: #404bbf;
}

.form-submit {
    margin: auto;
    padding: 0;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
}